@font-face {
    font-family: orator;
    src: url("fonts/oratorstd.otf");
}
@font-face {
    font-family: stark;
    src: url("fonts/Stark.OTF");
}
@media only screen and (max-width: 1200px) {
    #btn-login {
        text-align: center;
    }
    #btn-entrar {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 400px) {
    #mobile-menu a {
        font-size: small;
        padding: 5px !important;
    }
}
@media only screen and (max-width: 340px) {
    #mobile-menu a {
        font-size: small;
        padding: 2px !important;
    }
}
@media only screen and(max-width: 550px) {
    #mobile-menu-botoes-2 {
        margin-top: 1%;
    }
}
@media only screen and (max-width: 767px) {
    #exposicoes-galeria {
        width: 108%;
        text-align: center !important;
    }
    #exposicoes-galeria button {
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (max-width: 999px) {
    body {
        margin: 0px;
    }
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block !important;
        padding: 0% 5% 0% 5%;
    }
    #mobile-img-nome-scorpius {
        text-align: center;
    }
    /* Botões de ENTRAR/CADASTRAR - Mobile */
    #mobile-btn-login {
        text-align: center;
        margin-top: 2%;
    }
    #mobile-btn-entrar {
        color:#007bff !important;
    }
    /* Menu principal - Mobile */
    #mobile-menu-img {
        width: 100% !important;
        text-align: center;
        margin-top: 5%;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    #mobile-menu {
        margin-top: 2%;
        text-align: center;
    }
    #mobile-menu a {
        font-size: small;
        color: white;
    }
    /* INFORMAÇÕES - Mobile */
    #mobile-informacoes-right {
        text-align: center;
    }
    #mobile-informacoes-right-titulo {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
    #mobile-informacoes-right-conteudo {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    #mobile-informacoes-right-footer {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold !important;
    }
    #mobile-informacoes-left {
        text-align: center;
    }
    #mobile-informacoes-left-img {
        border-bottom-right-radius: 30px !important;
        border-top-right-radius: 30px !important;
        border-bottom-left-radius: 30px !important;
        border-top-left-radius: 30px !important;
        padding: 15px !important;
        width: 100% !important;
        margin-top: 5%;
    }
    #mobile-titulo-exposicao{
        font-size: 30px;
        text-align: center;
    }
    #mobile-agendamento {
        padding: 3%;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 350%;
    }
    #mobile-ec {
        padding: 3%;
    }
}
@media only screen and (min-width: 1000px) {
    .mobile {
        display: none !important;
    }
}
@media only screen and (max-width: 1250px) {
    #menu-botoes-antares {
        left: 55% !important;
    }
}

/* TELA INICIAL */
#lado-direito {
    position: relative;
}
#img-background {
    width: 95%;
    float: right;
}
#seta{
    font-size: 40px;
    margin-top: 90%;
    color: #2F8DF8;
}
/* Botões de ENTRAR/CADSTRAR */
#btn-login {
    position: absolute;
    margin-top: 5%;
    margin-left: 60%;
}
#btn-login .btn {
    border-bottom-right-radius: 30px !important;
    border-top-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    border-top-left-radius: 30px !important;
}
/* Nome SCORPIUS */
#img-nome-scorpius {
    width: 60%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: -4%;
}
/* Menu principal */
#menu {
    display: inline-block;
    position: relative;
}
#menu-img-logo {
    width: 95%;
    margin-left: 10%;
}
#menu-botoes {
    font-family: orator;
    font-size: 24px;
}
#menu-botoes-antares {
    position: absolute;
    top: 27%;
    left: 60%;
    color: #696969;
}
#menu-botoes-contato {
    position: absolute;
    top: 40%;
    left: 39%;
    color: #696969;
}
#menu-botoes-informacoes {
    position: absolute;
    top: 40%;
    left: 82%;
    color: #696969;
}
#menu-botoes-exposicoes {
    position: absolute;
    top: 61%;
    left: 77%;
    color: #696969;
}
#menu-botoes-atividades {
    position: absolute;
    top: 83%;
    left: 75%;
    color: #696969;
}
#menu-botoes-agendamento {
    position: absolute;
    top: 100%;
    left: 45%;
    color: #696969;
}
#menu-botoes-endereco {
    position: absolute;
    top: 95%;
    left: 15%;
    color: #696969;
}

/* INFORMAÇÕES */
#informacoes {
    margin-top: 3% !important;
    margin-bottom: 1% !important;
}
#informacoes-left-img {
    float: left;
    width: 100%;
    height: 150%;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;
    align-content: left;
}
#informacoes-right {
    text-align: center;
}
#informacoes-right-titulo {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 350%;
    padding-top: 10%;
}
#informacoes-right-conteudo {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
}
#informacoes-right-conteudo-footer {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* AGENDAMENTO / ENDEREÇO / CONTATO */
#agendamento-endereco-informacoes {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}
#aec-left-agendamento {
    margin-bottom: 3%;
}
#aec-left-agendamento-card {
    width: 82%;
    height: 20% !important;
    text-decoration-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
#aec-left-agendamento-card-img {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
#mapa {
    width: 100%;
    height: 100%;
}
#aec-right-ec {
    width: 100%;
    height: 100%;
}
#aec-right-ec-footer {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
#aec-right-ec-footer p {
    margin: 0%;
}
/* Footer */
#footer {
    position: relative;
}
#footer-img-background {
    width: 100%;
    text-align: center;
}
#footer-img-logo {
    width: 80% !important;
}
#footer-conteudo {
    padding-top: 1%;
    width: 100%;
    height: 100%;
    position: absolute;
}
#footer hr {
    position: absolute;
    color: white;
}
.container-footer {
    margin-left: 3%;
    margin-right: 3%;
}
#footer-conteudo p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#footer-conteudo .h5 {
    color: white !important;
    padding-top: 5%;
}
#footer-conteudo .h6 {
    font-weight: 100;
    color: whitesmoke;
    margin-top: 5% !important;
}
#footer a {
    color: whitesmoke;
}
/* Exposições */
#exposicoes{
    margin-bottom: 2%;
}
#exposicoes h5 {
    font-family: stark !important;
}
#titulo-exposicao{
    font-size: 40px;
    text-align: center;
}
.zoom {
    overflow: hidden;
}
.zoom img {
    object-fit: cover;
    width: 550px;
    height: 680px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: blur(0.5px);
}
.exposicoes-btn-text {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff !important;
    text-align: center;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    font-family: stark;
}
/* ATIVIDADES */
.atv-img {
    object-fit: cover;
    height: 680px !important;
}
.carousel-caption{
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8) !important;
}

html ::-webkit-scrollbar{
    width: 0.7vw;
}

html ::-webkit-scrollbar-track{
    background: rgba(255, 224, 250, 0.562);
    border-radius: 20px;
}

html ::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: rgb(79, 42, 214);
}