#imagemNomeSistema{
    width: 20%;
    padding: 10px;
    margin-top: 0%;
    margin-left: 5%
}
<<<<<<< HEAD
#imagemLogoMenu{
    width: 50%;
=======
.imagemLogoMenu{
    width: 50%; /*rever a questão da responsividade*/
>>>>>>> ebaf569c5f06b45f189ecac37fd8d1acef6a8c93
    margin-top: -5%;
}