@font-face {
    font-family: orator;
    src: url("fonts/oratorstd.otf");
}
@font-face {
    font-family: stark;
    src: url("fonts/Stark.OTF");
}
@media only screen and (max-width: 800px) {
    #img-background {
        display: none !important;
    }
    #menu-botoes{
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    #btn-login-max {
        display: none !important;
    }
    body {
        margin: 0px;
    }
    #btn-login-min {
        display: block !important;
    }
    #img-nome-scorpius {
        width: 50% !important;
    }
    #img-nome-min {
        text-align: center !important;
    }
    #btn-login-min {
        font-size: small;
    }
    #btn-entrar {
        font-size: small;
        color: rgb(39, 39, 255) !important;
    }
    #btn-cadastrar {
        font-size: smaller;
    }
    #menu-img-logo {
        width: 80% !important;
    }
    #informacoes-direita{
        text-align: center;
    }
    #informacoes-direita-titulo{
        font-size: 7vmin !important;
        margin-bottom: 7px !important;
    }
    #informacoes-direita-conteudo{
        font-size: 4.5vmin !important;
    }
    #informacoes-direita-conteudo-footer{
        font-size: 4.5vmin !important;
    }
    #informacoes-esquerda-img{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}
@media only screen and (min-width: 800px) {
    #btn-login-min {
        display: none !important;
    }
}

#container {
    margin: 0px;
}
#img-background {
    width: 95%;
    float: right;
}

.lado-direito {
    position: relative;
}
#btn-login-max {
    position: absolute;
    margin-top: 5%;
    margin-left: 60%;
}
#img-nome-scorpius {
    width: 50%;
    margin-left: 5%;
}
#menu {
    display: inline-block;
    position: relative;
}
#menu-img-logo {
    width: 95%;
    margin-left: 10%;
}
#menu-botoes {
    font-family: orator;
    font-size: 24px;
}
#menu-botoes-antares {
    position: absolute;
    top: 27%;
    left: 55%;
    color: #696969
}
#menu-botoes-exposicoes {
    position: absolute;
    top: 40%;
    left: 82%;
    color: #696969
}
#menu-botoes-informacoes {
    position: absolute;
    top: 61%;
    left: 77%;
    color: #696969
}
#menu-botoes-agendamento {
    position: absolute;
    top: 83%;
    left: 75%;
    color: #696969
}
#menu-botoes-endereco {
    position: absolute;
    top: 100%;
    left: 45%;
    color: #696969
}
#menu-botoes-contato {
    position: absolute;
    top: 95%;
    left: 17%;
    color: #696969
}
#informacoes-esquerda-img{
    float: left;
    width: 100%;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;
    margin-top: 125px;
    margin-bottom: 125px;
    align-content: left;
}
#informacoes-direita{
    text-align: center;
}
#informacoes-direita-titulo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 350%;
    margin-bottom: 50px;
}
#informacoes-direita-conteudo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
#informacoes-direita-conteudo-footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}